.main{
    width: 100%;
    height: 30px;
}
.shopName{
    float: left;
    height: 30px;
    padding-top: 3px;
    padding-left: 10px;
    color: white;
}

.n{
    height: 30px;
    padding: 0px;
    background-color: #3578bf;
}

.buttons{
    float: right;
    height: 30px;
    color: white;

}
div > ul{
    width: 80px;
    height: 30px;
}
div > ul > li:not(:last-child){
    font-weight: 100;
    font-size: 30px;
    width: 40px;
    text-align: center;
    margin-top: -21px;
}
div > ul > li:not(:last-child):hover{
    font-weight: 100;
    font-size: 30px;
    width: 40px;
    text-align: center;
    margin-top: -21px;
    background-color: #74a9e0d7;
}
div > ul > li:last-child{
    width: 40px;
    text-align: center;
    font-size: unset;
    padding-top: 3px;
}
div > ul > li:last-child:hover{
    width: 40px;
    text-align: center;
    font-size: unset;
    padding-top: 3px;
    background-color: red;
}

#minimize:hover{
    font-weight: 100;
    font-size: 30px;
    width: 40px;
    text-align: center;
    margin-top: -21px;
    background-color: #74a9e0d7;
}